.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Shared style */
.section-bg {
    background-color: #FFF8F3;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
}

.description {
    font-size: 18px;
}


.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.btn-primary {
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    color: white;
    background-color: #FD6E0A;
    border: none;
}

.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-header {
    font-weight: 800;
    font-size: 45px;

}

nav ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}


/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 39px 0 230px;


}

.banner-content {
    max-width: 585px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}


.banner-profile-pic {
    max-width: 585px;
    /* width: 100%; */
}


main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About section  */
.about {
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    border-radius: 10px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-description {
    font-weight: bold;
    line-height: 0;
}